<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>400 error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='400.css') }}">
</head>
<body>
    <div class="center">
        <div class="error-holder">
          <span title="4">4</span>
          <span title="0">0</span>
          <span title="4">0</span>
          <span>E</span>
          <span>R</span>
          <span>R</span>
          <span>O</span>
          <span>R</span>
          <div class="face"><span></span></div>
        </div>
      </div>
</body>
</html>